[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/loguru"]
	path = extern/loguru
	url = https://github.com/emilk/loguru.git
[submodule "extern/imgui-plot"]
	path = extern/imgui-plot
	url = https://github.com/soulthreads/imgui-plot.git
